/* Para toda a página */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;700&display=swap');

* {
    font-family: Mukta;
}
.cada h1 {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 111px;
    margin-right: auto;
    color: #995a1a;
}
