/* 
  Página de Referência: consultarpedidojuridico e consultarpedidofisico
  Desenvolvido por: Izabela e Ricardo
  Documentado por: Jefferson Teixeira
  Data da ultima Revisão: 13/09/2021 
*/

/*Alinhador de elemento.*/
body {
    align-items: center;
}

/*Tamanho*/
.tabela {
    width: 100%;
    height: 100%;
}

/*Cor de fundo,borda,contorno,cor e sombra.*/
.tabelinha {
    background-color: #995a1a;
    border: 1.5px solid #995a1a;
    outline: 0;
    color: #FFF;
    box-shadow: 0 0 0 0;        
}
dl{
    text-transform: capitalize;
}
/*Alinhador de elemento e transformar as letras em maiúscula.*/
table {
    text-align: center;
    text-transform: capitalize;
}

/*Deixar celula com o numero do pedido em negrito*/
.negrito{
    font-weight: bold;
}

.tabela-principal th{
    max-height: 70px;
}
/*Borda arredondada,posição,lado esquerdo,tamanho,borda,cor do fundo e cor.*/
button {
    border-radius: 6px;
    position: relative;
    left: 18%;
    width: 60px;
    height: 25px;
    border: 0;
    background-color: #995a1a;
    color: white;
}

/*Contorno,sombra e cor de fundo.*/
button:hover, button:active, button:focus {
    outline: 0;
    box-shadow: 0 0 0 0;
    background-color: #7a4814;
}

/*Cor de fundo,contorno e sombra.*/
select:hover, select:active, select:focus, select:active, select:checked, select:enabled {
    background-color: #FFF;
    outline: 0;
    box-shadow: 0 0 0 0;
}

/*Titulo do modal de Frete*/
#titulo-frete {
    font-size: 20px;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    color:#995a1a;
}

/*Margens internas.*/
.forSelect {
    padding-left: 32%;
    padding-top: 10px;
}

/*Borda arredondada.*/
select {
    border-radius: 5px;
}

/*Posição,lado esquerdo,borda arredondada,tamanho,borda,cor de fundo e cor.*/
.enviarStatus {
    position: relative;
    left: 24.5%;
    border-radius: 6px;
    width: 50%;
    height: 30px;
    border: 0;
    background-color: #995a1a;
    color: white;
}

.pagamento-titulo{
    font-size: 30px;
    text-transform: capitalize;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    color:#995a1a;
}

.tabelinha td:hover, .tabelinha td:active, .tabelinha td:checked, .tabelinha td:focus, .tabelinha td:target, .tabelinha td:hover  {
    background-color: #FFF;
}