/* 
  Página de Referência: Produtospadariacomprar
  Desenvolvido por: Izabela
  Documentado por: Jefferson Teixeira
  Data da ultima Revisão: 13/09/2021 
 */
/*Alterador da propriedade padrão da box model.*/
*, *::before, *::after {
  box-sizing: border-box;
}

/*Indicador,margem,largura maxíma e posição.*/
.combo {
  display: block;
  margin-bottom: 1.5em;
  max-width: 500px;
  position: relative;
}

/*Bordas,gerador de conteúdo em um elemento,indicador,altura,controlador de 
elemento,posição,posição,lado direito,espaço em cima,modificador de espaço e 
largura.*/
.combo::after {
  border-bottom: 2px solid #cacaca;
  border-right: 2px solid #cacaca;
  content: "";
  display: block;
  height: 12px;
  pointer-events: none;
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translate(0, -65%) rotate(45deg);
  width: 12px;
}

/*Borda arredondada.*/
.input-wrapper {
  border-radius: 4px;
}

/*Cor de fundo,borda,borda arredondada,indicador,tamanho da fonte,altura maxíma,
margem interna,alinhador do elemento  e largura.*/
.combo-input {
  background-color: #f5f5f5;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 4px;
  display: block;
  font-size: 1em;
  min-height: calc(1.4em + 26px);
  padding: 12px 16px 14px;
  text-align: left;
  width: 100%;
}

/*Elemento usando um estilo nativo da plataforma.*/
select.combo-input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/*Borda arredondada.*/
.open .combo-input {
  border-radius: 4px 4px 0 0;
}

/*Contorno.*/
.combo-input:focus {
  /* border-color: #0067b8;
  box-shadow: 0 0 4px 2px #0067b8; */
  outline: 5px solid transparent;
}

/*Indicador,tamanho da fonte,negrito e margem.*/
.combo-label {
  display: block;
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 0.25em;
}

/*Cor de fundo,borda,borda arredondada,indicador,altura maxíma,quando o elemento
deve ser cortado,lado esquerdo,posição,espaço em cima,largura e eixo.*/
.combo-menu {
  background-color: #f5f5f5;
  border: 1px solid rgba(0, 0, 0, 0.42);
  border-radius: 0 0 4px 4px;
  display: none;
  max-height: 300px;
  overflow-y: scroll;
  left: 0;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 100;
}

/*Indicador.*/
.open .combo-menu {
  display: block;
}

/*Margem interna.*/
.combo-option {
  padding: 10px 12px 12px;
}

/*Cor de fundo.*/
.combo-option.option-current,
.combo-option:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

/*Margem interna e posição.*/
.combo-option.option-selected {
  padding-right: 30px;
  position: relative;
}

/*Bordas,gerador de conteúdo em um elemento,altura,posição,lado direito,espaço 
em cima,modificador de espaço e largura.*/
.combo-option.option-selected::after {
  border-bottom: 2px solid #000;
  border-right: 2px solid #000;
  content: "";
  height: 16px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translate(0, -50%) rotate(45deg);
  width: 8px;
}

/*Uma declaração para duas das propriedades,margem,largura maxíma e margem
interna.*/
.selected-options {
  list-style-type: none;
  margin: 0;
  max-width: 400px;
  padding: 0;
}

/*Indicador e margem.*/
.selected-options li {
  display: inline-block;
  margin-bottom: 5px;
}

/*Cor de fundo,borda,borda arredondada,cor,tamanho da fonte,negrito,margens,
margem interna e posição.*/
.remove-option {
  background-color: #6200ee;
  border: 1px solid #6200ee;
  border-radius: 3px;
  color: #fff;
  font-size: 0.75em;
  font-weight: bold;
  margin-bottom: 6px;
  margin-right: 6px;
  padding: 0.25em 1.75em 0.25em 0.25em;
  position: relative;
}

/*Borda,sombra e contorno.*/
.remove-option:focus {
  border-color: #baa1dd;
  box-shadow: 0 0 3px 1px #6200ee;
  outline: 3px solid transparent;
}

/*Borda,gerador de conteúdo para o elemento,altura,lado direito,posição,espaço 
em cima e largura.*/
.remove-option::before,
.remove-option::after {
  border-right: 2px solid #fff;
  content: "";
  height: 1em;
  right: 0.75em;
  position: absolute;
  top: 50%;
  width: 0;
}

/*Modificador de espaço.*/
.remove-option::before {
  transform: translate(0, -50%) rotate(45deg);
}

/*Modificador de espaço.*/
.remove-option::after {
  transform: translate(0, -50%) rotate(-45deg);
}

/*Alinhador de elementos,cor do fundo,borda,borda arredondada,indicador,itens 
reorganizados em mais de uma linha,altura mínima e margem interna.*/
.multiselect-inline {
  align-items: center;
  background-color: #f5f5f5;
  border: 2px solid rgba(0, 0, 0, 0.42);
  border-radius: 4px;
  display: flex;
  flex-wrap: wrap;
  min-height: calc(1.4em + 26px);
  padding: 12px 16px 14px;
}
/*Criador das duas partes.*/
.multiselect-inline .selected-options {
  flex: 0 1 auto;
}

/*Margem.*/
.multiselect-inline .selected-options li {
  margin-bottom: 0;
}

/*Borda,criador das duas partes,altura mínima e margem interna.*/
.multiselect-inline .combo-input {
  border: none;
  flex: 1 1 35%;
  min-height: calc(1.4em - 2px);
  padding: 0;
}

/*Sombra e contorno.*/
.multiselect-inline .combo-input:focus {
  box-shadow: none;
  outline: none;
}

/*Sombra e contorno.*/
.multiselect-inline:focus-within {
  box-shadow: 0 0 3px 2px #0067b8;
  outline: 5px solid transparent;
}
