@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;700&display=swap');

input[type="file"].custom {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  white-space: nowrap;
  width: 1px;
}

.botaoLegal input {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #995a1a;
    color: white;
}

form {
    width: 100%;
    justify-content: center;
    align-content: center;
}

label {
    color: graytext;
}

input {
    border-bottom: 2px solid #995a1a;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 100%;
}

input:select, input:focus, input:hover {
}

h1 {
    font-size: 40px;
    margin-left: 30px;
    padding-bottom: 15px;
}

textarea:focus, input:focus, select:focus, button:active, button:hover, button:focus {
    box-shadow: 0 0 0 0;
    border-bottom: 2px solid #995a1a;
    outline: 0;
} 
