/* 
  Página de Referência: Alterarusuariofisico e alterarusuariojuridico
  Desenvolvido por: Izabela
  Documentado por: Jefferson Teixeira
  Data da ultima Revisão: 13/09/2021 
 */

/*Indicador,posição e ordem da posição do menu.*/
.drop-down{
    display: inline-block;
    position: relative;
    z-index: 10;
}

/*Largura,elemento alinhado e quando o mouse está em cima do botão do menu.*/
.drop-down__button{
  width: 150px;
  text-align: center;
  cursor: pointer;
}

/*Borda inferior do link do botão quando o mouse está em cima.*/
.drop-down__button a:hover{
      border-bottom: 1px solid #FFF;
}

/*Posição,largura,lado esquerdo,margem interna,cor de fundo,borda arredondada,
sombra,transição entre dois estados de um elemento,deixa de mostrar o elemento,
transparência e margem de cima do menu.*/
.drop-down__menu-box {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 0;
    background-color: #fff;
    border-radius: 4px;
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
     transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
 visibility: hidden;
opacity: 0;
  margin-top: 5px;
}

/*Margem externa,interna e só declaração para duas das propriedades para 
listas do menu.*/
.drop-down__menu {
    margin: 0;
    padding: 0 13px;
    list-style: none;

}
/*Usado para ':before ou after',cor de fundo,borda direita,inferior,de cima,esquerda,posição,espaço de cima 
e lado direito do menu usado para adicionar um elemento.*/
.drop-down__menu-box:before{
  content:'';
  background-color: transparent;
  border-right: 8px solid transparent;
  position: absolute;
  border-left: 8px solid transparent;
  border-bottom: 8px solid #fff;
  border-top: 8px solid transparent;
  top: -15px;
  right: 18px;

}

/*Usado para ':before ou after' e cor de fundo do menu usado para adicionar
um elemento.*/
.drop-down__menu-box:after{
  content:'';
  background-color: transparent;
}

/*Tamanho da letra,borda interna,alinhador do elemento,negrito,cor,posição e 
borda inferior do menu.*/
.drop-down__item {
    font-size: 18px;
    padding: 13px 0;
    text-align: left;
    font-weight: 500;
    color: #4f4a44;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid #e0e2e9;
    
}

/*Borda inferior do menu que se "casa" com o último elemento.*/
.drop-down__item:last-of-type{
  border-bottom: 0;
}

/*Parte de trás estará visível,transparência e margem de cima do menu ativo.*/
.drop-down--active .drop-down__menu-box{
visibility: visible;
opacity: 1;
  margin-top: 15px;
}

/*Usado para ':before ou after',posição,tamanho,cor de fundo,lado esquerdo,em 
cima,modificador de espaço coordenado do modelo e indicador do menu depois do 
elemento.*/
.drop-down__item:before{
  content:'';
  position: absolute;
width: 3px;
height: 28px;
background-color: #995a1a;
left: -13px;
top: 50%;
transform: translateY(-50%);
  display:none;
}

/*Indicador ativo e depois do elemento.*/
.drop-down__item:hover:before{
  display:block;
}
