/* 
  Desenvolvido por: Ricardo e Jefferson
  Documentado por: Jefferson Teixeira
  Data da ultima Revisão: 13/09/2021 
 */
/*Import da fonte*/
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;700&display=swap');

/*Fonte que está sendo aplicada em toda página. */
*{
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font: 'Mukta';
  font-weight: 300;
}

/*Indicador,cor do fundo,alinhador de linha e margem interna do*/
.pad-nome {
    display: flex;
    background-color: #ce8538;
    align-content: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

/*Margem e cor do título nível 2.*/
h2 {
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    color: #FFF;
}

/*Indicador */
.ocultar{
  display: none;
}

/*Margem interna.*/
ul{
  padding: 5px;
}

/*Uma declaração para duas propriedades,largura,margem interna,bordas.*/
li{
  list-style: none;
  width: 100%;
  padding: 10px 0;
  border-bottom: 1px solid #E8E8E8;
  border-top: 1px solid #E8E8E8;
  
}

/*Cor de fundo.*/
li:hover{
  background-color: #E8E8E8;
}

/*Tamanho,Float determina que um elemento deve ser retirado do seu fluxo normal
e colocado ao longo do lado direito ou esquerdo e  transição entre dois estados 
de um elemento.*/
.foto{
  width: 60px;
  height: 89px;
  float: left;
  transition: .1s cubic-bezier(.64,.64,0,.99);
}

/*Tamanho,borda arredondada e elemento substituído deve ser ajustado à caixa
estabelecida pela altura e largura usadas.*/
.foto img{
  width: 100%;
  height: 100%;
  border-radius: 50px;
  object-fit: contain;
}

/*Tamanho,margem interna,margem externa e quando o elemento deve ser cortado.*/
.conteudo{
  width: calc(100% - 60px);
  min-height: 60px;
  padding: 5px 10px;
  margin-left: 60px;
  overflow-x: auto;
}

/*Negrito,tamanho da fonta e cor.*/
.titulo{
  font-weight: 400;
  font-size: 1.15em;
  color: #4F4F4F;
}

/*Float determina que um elemento deve ser retirado do seu fluxo normal
e colocado ao longo do lado direito ou esquerdo,cor,negrito,tamanho da fonte e 
controlador de espaçamento entre as linhas.*/
.preco{
  float: right;
  color: #9C9C9C;
  font-weight: 500;
  font-size: .9.29em;
  line-height: 1.65em;
}

/*Cor,margem e tamanho da fonte.*/
.descricao, .mais{
  color: #828282;
  margin-top: 5px;
  font-size: 1em;
}

/*Posição,tamanho,espaço de cima,lado esquerdo e cor de fundo.*/
.detalhes{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #FFF;
}

/*Tamanho da fonte e margem inferior.*/
.detalhes .titulo{
  font-size: 1.5em;
  margin-bottom: 15px;
}

/*Tamanho da fonte e controlador de espaçamento entre as linhas.*/
.detalhes .preco{
  font-size: 1em;
  line-height: 2em;
}

/*Margem interna.*/
li.detalhes{
  padding: 0;
}

/*Cor de fundo.*/
li.detalhes:hover{
  background-color: #fff;
}

/*Largura,margem esquerda,margem interna e cor de fundo.*/
.detalhes .conteudo{
  width: 100%;
  margin-left: 0;
  padding-top: 15px;
  background-color: #FFF;
}

/*Largura,margem,altura,margens internas,quando o elemento deve ser cortado e 
posição.*/
.detalhes .capsula{
  width: 100%;
  margin-left: 0;
  height: 100vh;
  padding-bottom: 60px;
  padding-top: 200px;
  overflow-y: scroll;
  position: fixed;
}

/*Tamanho,margem e transição entre dois estados de um elemento.*/
.detalhes .foto{
  width: 100%;
  height: 200px;
  margin-top: -3px;
  transition: .3s;
}

/*Elemento substituído deve ser ajustado à caixa estabelecida pela altura e 
largura usadas e borda arredondada.*/
.detalhes .foto img{
  object-fit: cover;
  border-radius: 0;
}

/*Eixo e transparência.*/
#detalhes{
  z-index: 999;
  opacity: 0;
}

/*Posição,largura,indicador,alinhador de elemento,margem interna,parte de baixo,
lado esquerdo,borda e cor de fundo.*/
.adicionar{
  position: fixed;
  width: calc(100% - 10px);
  display: flex;
  align-items: center;
  padding: 5px;
  bottom: 0;
  left: 5px;
  border-top: 1px solid #E8E8E8;
  background-color: #FFF;  
}

/*Tamanho da fonte,borda interna,borda arredondada,Criador das duas partes,borda
cor e cor de fundo.*/
#detalhes button{
  font-size: .8em;
  padding: 10px;
  border-radius: 50px;
  flex: 1;
  border: none;
  color: #FFF;
  background-color: #bc2026;
}

/*Indicador,alinhador de elemento e borda interna.*/
.quantidade{
  display: flex;
  align-items: center;
  padding: 0 10px;
}

/*Borda interna,cor e tamanho da fonte.*/
.quantidade i{
  padding: 0 5px;
  color: #bc2026;
  font-size: 1.8em;
}

/*Cor.*/
.quantidade i.disable{
  color: #B5B5B5;
}

/*Borda interna.*/
.quantidade span{
  padding: 0 5px;
}

/*Posição,tamanho da fonte,cor de fundo,lado esquerdo,espaço de cima,margem 
interna e cor.*/
i#fechar{
  position: fixed;
  font-size: 1.5em;
  background: linear-gradient(135deg, rgba(36,36,36,0.50) 20%, rgba(0,0,0,0) 40%);
  left: 0;
  top: 0;
  padding: 10px 50px 50px 10px;
  color: #FFF;
}