@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;700&display=swap');



/*General Styles*/

html {
    font-size: 12px;
    font: Roboto, sans-serif;
}

@media (min-width: 768px) {
    html {
        font-size: 14px;
    }
}



/*Subscription Page Content Styles*/

.container {
    max-width: 960px;
}

.pricing-header {
    max-width: 700px;
}

.card-deck .card {
    min-width: 200px;
    height: 400px;
}

.card-body li { /* Adds line spacing for card descriptions */
    padding: 8px 0;
}


.card-header {
    border-bottom: 4px solid #086495;

}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.img-responsive { /* Measurements for KPC Logo on top */
    height: 90px;
    width: 150px;
}

.font-weight-normal { /* For the title on the cards */
    text-transform: uppercase;
}

.btn-primary { /* Sign up Button Style */
    background: #086495;
    color: #ffffff;
    border: none;

}

.btn-primary:hover {
    background: #0a7ab6;
    color: #ffffff;

}


/*Print and Online Page Styles*/

.stepwizard-step p {
    margin-top: 10px;
    color: #086495;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}


.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 2px;
    background-color: #086495;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;

}

h3 {
    font: Roboto, sans-serif;
    font-weight: 400;
}

label {
    color: #086495;
    font: Roboto, sans-serif;
    font-weight: 200;
}



.nextBtn {
    background-color: #086495;
    width: 100px;
    margin-right: 150px;
}

.form-control {
    width: 50%;
}

.selectpicker {
    width: 50%;
    height: 35px;
}

select {
    width: 50%;
    height: 32px;
}