/* 
  Página de Referência: Preferenciapagamento
  Desenvolvido por: Ricardo
  Documentado por: Jefferson Teixeira
  Data da ultima Revisão: 13/09/2021 
 */

/*Import das fontes.*/
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;700&display=swap');

/*Margem interna de cima do botão.*/
.botaoLegal {
    padding-top: 13px;
}

/*Largura,altura,borda,borda arredondada,cor de fundo e cor do botão.*/
.botaoLegal button {
    width: 100%;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #995a1a;
    color: white;
}

/*Largura,alinhador de elemento do eixo principal e alinhador de linha do form.*/
.pagamento form {
    width: 100%;
    justify-content: center;
    align-content: center;
}

/*Cor do label.*/
.pagamento label {
    color: graytext;
}

/*Bordas e largura do menu de opções.*/
.pagamento select{ 
    border-bottom: 2px solid #995a1a;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 100%;
}

/*Bordas e largura dos inputs.*/
.pagamento input {
    border-bottom: 2px solid #995a1a;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top: none;
    border-right: none;
    border-left: none;
    width: 100%;
}

/*Definições do titulo do modal*/
#pagamento-titulo, #dados-pagamento, #titulo-midias{
    font-size: 20px;
    text-transform: capitalize;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    color:#995a1a;
    margin-bottom: 30px;
}

/*Sombra,borda inferior e contorno do textarea,input,select e botão quando 
foco,é clicado ou quando passa o mouse em cima.*/
textarea:focus, input:focus, select:focus, button:active, button:hover, button:focus {
    box-shadow: 0 0 0 0;
    border-bottom: 2px solid #995a1a;
    outline: 0;
} 

/*Tamanho,margem,cor,cor de fundo e margens.*/
.botao {
    widht: 50px;
    height: 50px;
    margin-bottom: 15px;
    background-color: #995a1a;
    color:white;
    border: none;
    border-radius: 5px;
}