@import url('https://fonts.googleapis.com/css?family=Muli:400,400i,700,700i');

body{
  font-family: 'Muli', sans-serif;
  background:#ddd;
}

/*centralizar todo o conteudo da tela*/
.container{
  text-align: center;
}

/*definir tamanho e display do bloco, espaços internos e externos, alinhamento do texto */
.wsk-cp-product{
  width: 250px;
  display: inline-block;
  padding: 10px;
  margin: 10px;
  text-align: left;
  background: pink; /*background rosa só para saber qual div mexer para estilizar depois*/  
}

/*fixar o layout da tabela, centralizar e definir o tamanho*/
table {
    table-layout: fixed;
    width: 100%;
    margin: 0 auto;
}
/*definir para blocos em linha e quebra de palavras para se a descrição for longa*/
td{
    display: inline-block;         
    word-wrap: break-word;         
    overflow-wrap: break-word;    
}