/* 
  Desenvolvido por: Izabela
  Documentado por: Jefferson Teixeira
  Data da ultima Revisão: 13/09/2021 
 */

/*Indicador da lista dos itens.*/
.show-cart li {
  display: flex;
}

/*Largura,altura,margem de cima e alinhamento do item da imagem do produto.*/
.card-img-top {
  width: 200px;
  height: 200px;
  margin-top: 15px;
  align-self: center;
}

/*Alinhador do elemento do container.*/
.container{
  text-align: center;
}

/*fixar o layout da tabela,tamanho e margem da tabela*/
table {
    text-transform: capitalize;
    table-layout: fixed;
    width: 100%;
    margin: 0 auto;
}

/*Indicador e os quebra de palavras da tabela.*/
td, tr{
    display: inline-block;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
/*Margem entre um campo e outro*/
tr{
    margin-top: 20px;
}
/*Barra de pesquisa*/
.container input {
    margin: 0 auto;
    border-radius: 4px;
    border: 1px solid #a9a9a9;
    height: 43px;
    width: 90%;
    padding: 5px;
}
/*Definições do titulo da pagina*/
h1{
    font-size: 30px;
    text-transform: capitalize;
    font-family: 'Muli', sans-serif;
    font-weight: bold;
    color:#995a1a;
}