/*Indicador da lista dos itens.*/
.show-cart li {
  display: flex;
}

/*Largura,altura,margem de cima e alinhamento do item da imagem do produto.*/
.card-img-top {
  width: 200px;
  height: 200px;
  margin-top: 15px;
  align-self: center;
}

/*Alinhador do elemento do container.*/
.container{
  text-align: center;
}

/*fixar o layout da tabela,tamanho e margem da tabela*/
table {
    text-transform: capitalize;
    table-layout: fixed;
    width: 100%;
    margin: 0 auto;
}

/*Indicador e os quebra de palavras da tabela.*/
td, tr{
    display: inline-block;
    word-wrap: break-word;
    overflow-wrap: break-word;
}
