/* Para toda a página */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Arial";
    background-color:#e3e3e3;
}

body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    width: 100%;
    max-width: 350px;
    padding: 2%;
}

.single-input{
    position: relative;
    margin: 30px 0;
    right: 30%;
}
.single-input label{
    position: absolute;
    bottom: 5px;
    left: 10px;
    color: rgb(150,150,150);
    cursor: text;
    transition: 0.5s ease-in-out;
}

.input{
    width: 150%;
    padding: 5px;
    border: 0;
    border-bottom: 2px solid #995a1a;
    outline: 0;
    font-size: 16px;
    color: black;
    transition: 0.5s ease-in-out;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
}

.input:focus ~ label,
.input:valid ~ label{
    color: transparent;
    opacity: 0;
}

#title {
    position: relative;
    right: 5%;
    border: 0;
}