/* 
  Página de Referência: Recuperarsenha
  Desenvolvido por: Ricardo
  Documentado por: Jefferson Teixeira
  Data da ultima Revisão: 13/09/2021 
 */

/*Import da fonte */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;700&display=swap');

/*Fonte que está sendo aplicada em toda página. */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Arial";
}

/*Largura,altura,fundo da imagem,como a foto é posicionada,onde a foto é
posicionada e tamanho da imagem.*/
.imagem {
    width: 100%;
    height: 100%;
    background-image: url("../imagens/CuppaForgetPassword.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 68%;
}
/*Cor do fundo,largura,altura mínima,Indicador,alinhador de 
itens e alinhador de elemento do eixo principal do corpo.*/
body{
    background-color: #653210;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Largura,largura máxima e margem interna do form.*/
form{
    width: 100%;
    max-width: 350px;
    padding: 2%;
}

/*Posição,margem e lado direito do input(Email,Senha,confirmar Senha e Botão da 
Senha).*/
.single-input{
    position: relative;
    margin: 30px 0;
    right: 30%;
}
/*Posição,posição vertical, lado esquerdo,cor,quando o mouse está em cima,
transição entre dois estados de um elemento e transparência do input
(Email,Senha,confirmar Senha e Botão da Senha).*/
.single-input label{
    position: absolute;
    bottom: 5px;
    left: 10px;
    color: white;
    cursor: text;
    transition: 0.2913s ease-in-out;
    opacity: 75%;
}

/*Largura,margem interna,borda,borda inferior,contorno,tamanho da letra,cor,
transição entre dois estados de um elemento,borda arredondada direita e
esquerda e cor do fundo dos inputs.*/
.input{
    width: 150%;
    padding: 5px;
    border: 0;
    border-bottom: 2px solid whitesmoke;
    outline: 0;
    font-size: 16px;
    color: white;
    transition: 0.5s ease-in-out;
    border-bottom-right-radius: 2px;
    border-bottom-left-radius: 2px;
    background-color: transparent;
}

/*Cor e transparência do input que recebe foco e do que foi validado com
sucesso.*/
.input:focus ~ label,
.input:valid ~ label{
    color: transparent;
    opacity: 0;
}

/*Cor,posição,lado direito e borda do título.*/
#title {
    color: whitesmoke;
    position: relative;
    right: 5%;
    border: 0;
}

/*Largura,altura e cor do fundo do quadrado com o título "Recuperar senha".*/
.quadrado {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

/*Posição,lado esquerdo,largura,altura,borda,borda arredondada,cor do fundo
e cor do botão do input (Email,Senha,confirmar Senha e Botão da Senha).*/
.single-input button {
    position: relative;
    left: 40%;
    width: 75%;
    height: 30px;
    border: none;
    border-radius: 5px;
    background-color: #995a1a;
    color: white;
}

/*Cor do fundo do input (Email,Senha,confirmar Senha e Botão da Senha) quando 
for clicado.*/
.single-input button:hover {
    background-color: #bf7f3d;
}