/* Import da fonte */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;700&display=swap');

/*Fonte que está sendo aplicada em toda página. */
* {
    font-family: Mukta;
}

/*Cor de fundo do corpo da página. */
body {
background-color: #FFF5EB;    
}

/*Elemento alinhado,cor de fundo,cor,margem interna de cima e tamanho
da marcação das seções do contéudo da página.*/
#about-section {
    text-align: center;
    background-color: #995a1a;
    color: white;
    padding-top: 45.5px;
    height: 250px;
}

/*Largura máxima,margem direita,margem esquerda e controlador de espaçamento
da marcação dos parágrafos.*/
#about-section p {
    max-width: 650px;
    margin-right: auto;
    margin-left: auto;
    line-height: 30px;

}

/* Container do tipo de pessoa */
/*Margem de cima,direita e esquerda,cor de fundo, tamanho, borda e
borda arredondada na marcação.*/
#tipopess-section {
    margin-top: -100px;
    background-color: #FFF;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid #DDD;
    border-radius: 10px;
}

/*Indicador,como os itens são colocados e o alinhador de elemento da marcação 
do container.*/
#tipopess-section .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/*Criador das duas partes,alinhador do elemento e margem interna do container.*/
.tipopess-container {
    flex: 1 1;
    text-align: center;
    padding: 60px 25px;
}

/*Cor e tamanho da letra no título nível 3.*/
.tipopess-container h3 {
    color: #995a1a;
    font-size: 20px;
}

/*Largura,margem interna e margem da parte inferior da imagem.*/
.tipopess-container img {
    width: 200px;
    padding: 15px;
    margin-bottom: 25px;
}

/*Negrito,cor,margem de cima e margem da parte inferior da div container*/
.tipopess-container {
    font-weight: bold;
    color: #995a1a;
    margin-top: 50px;
    margin-bottom: 15px;
}

/*Controlador de espaçamento do parágrafo.*/
.tipopess-container p {
    line-height: 25px;
}

/**/
.tipopess-container button {
    padding-top: 5px;
}

/* Botões personalizados */

button {
    font: mukta;
    font-size: 20px;
    font-weight: 700;
    background-color:#995a1a; 
    margin: 0;
    padding:10px;
    cursor:pointer;
    border: none;
    box-shadow:0 5px #834d16;
}
button:hover {
    background-color:#995a1a;
    box-shadow:0 5px #834d16;
}
button:active {
    position:relative;
    top:5px;
    background-color:#9c5a17;
    box-shadow:none;
}