/* 
Aqui temos a NavBar que é igual independentemente da tela
em que foi aplicada.
*/

/* geral */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;700&display=swap');

* {
    font-family: Mukta;   
}

body, p, h1, h2, input, textarea {
    margin: 0;
}

h2 {
    font-size: 30px;
}

/* navbar */

#navbar {
    background-color: #995a1a!important; 
    color: white!important;
    padding: 0 15px!important;
    height: 60px!important;
}

#navbar h2, #navbar ul, #navbar-list li, #navbar nav {
    display: inline-block!important;
}

#navbar h2 {
    margin: 0!important;
    line-height: 60px!important;
    margin-left: 55px!important;
}

#navbar img {
    width: 40px!important;
    position: absolute!important;
    top: 10px!important;
}

#navbar nav {
    float: right !important;
}

#navbar ul {
    margin-top: 22px!important;
}

#navbar li {
    margin: 0 10px!important;
}

#navbar-list li a {
    text-decoration: none!important;
    color: white!important;
}

#navbar-list li a:hover {
    border-bottom: 1px solid #FFF!important;
}