/* 
Aqui temos a NavBar que é igual independentemente da tela
em que foi aplicada.
*/

/* geral */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;700&display=swap');

body, p, h1, h2, input, textarea {
    margin: 0;
    font-family: Mukta;
}

h2 {
    font-size: 30px;
}

/* navbar */

#navbar {
    background-color: #995a1a;
    color: white;
    padding: 0 15px;
    height: 60px;
}

#navbar h2, #navbar ul, #navbar-list li, #navbar nav {
    display: inline-block;
}

#navbar h2 {
    margin: 0;
    line-height: 60px;
    margin-left: 55px;
}

#navbar img {
    width: 40px;
    position: absolute;
    top: 10px;
}

#navbar nav {
    float: right;
}

#navbar ul {
    margin-top: 22px;
}

#navbar li {
    margin: 0 10px;
}

#navbar-list li a {
    text-decoration: none;
    color: white;
}

#navbar-list li a:hover {
    border-bottom: 1px solid #FFF;
}