/* 
  Página de Referência:Várias páginas
  Desenvolvido por: Ricardo
  Documentado por: Jefferson Teixeira
  Data da ultima Revisão: 13/09/2021 
 */

/*Import da fonte */
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300;700&display=swap');

/*Fonte que está sendo aplicada em toda página. */
* {
    font-family: Mukta;   
}

/*Setar margem do Corpo,parágrafos, título nível 1 e 2, input e textarea.*/
body, p, h1, h2, input, textarea {
    margin: 0;
}

/*Titulo nível 2,regular o tamanho da fonte. */
h2 {
    font-size: 30px;
}

/*Definições do menu: Cor de fundo, cor da fonte, margem interna e tamanho*/
#navbar {
    background-color: #995a1a!important; 
    color: white!important;
    padding: 0 15px!important;
    height: 60px!important;
}

/*Indicador do título nível 2,lista desordenada,lista dos itens do menu.*/
#navbar h2, #navbar ul, #navbar-list li, #navbar nav {
    display: inline-block!important;
}

/* Margem externa, controlador de espaçamento e margem esquerda do título do menu.*/
#navbar h2 {
    margin: 0!important;
    line-height: 60px!important;
    margin-left: 55px!important;
}

/*Largura, posição e espaço de cima da imagem do cabeçalho*/
#navbar img {
    width: 40px!important;
    position: absolute!important;
    top: 10px!important;
}

/*Float determina que um elemento deve
ser retirado do seu fluxo normal e colocado 
ao longo do lado direito ou esquerdo do menu.*/
#navbar nav {
    float: right !important;
}

/*Margem externa de cima da lista do menu*/
#navbar ul {
    margin-top: 22px!important;
}

/*Margem externa da lista dos itens.*/
#navbar li {
    margin: 0 10px!important;
}

/*Formação da underline e cor da lista dos itens e link.*/
#navbar-list li a {
    text-decoration: none!important;
    color: white!important;
}

/*Borda de baixo da lista dos itens e link.*/
#navbar-list li a:hover {
    border-bottom: 1px solid #FFF!important;
}

/* Para melhor centralização das coisas */

#tudoCentral {
    margin: auto;
    align-content: center;
    text-align: center;
}

#tudoCentral h2, #tudoCentral select { 
    padding-right: 8%;
}

#tudoCentral h2 {
    font-size: 27px;
}

#tudoCentral select {
    outline: none;
    box-shadow: 0 0 0 0;
    border-bottom: 2px solid #995a1a;
    border-left: none;
    border-top: none;
    border-right: none;
    border-radius: 0;
    border-bottom-left-radius: 2px; 
    border-bottom-right-radius: 2px;
    margin-right: 2.5%;
    width: 215px;
}

#tudoCentral button {
    margin-right: 38.4%;
    margin-top: 25px;
    text-align: center;
    width: 25%;
    height: 31px;
    border: none;
    outline: none;
    box-shadow: 0 0 0 0;
    border-radius: 4px;
}

#tudoCentral button:hover {
    background-color: black;
}

.valor {
    display: inline-flex;
}

.valor input {
    width: 200px;
    border-bottom-left-radius: 0;
}

.valor p {
    text-decoration: none;
    margin: 0;
    padding-right: 5px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    border-bottom: 2px solid #995a1a;
    border-left: none;
    border-top: none;
    border-right: none;
    border-radius: 0;
    border-bottom-left-radius: 2px; 
}
